body{
    margin: 0;
    padding: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}

.hidden{
    display: none !important;
}

.sign{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign h2{
    font-size: 6em;
    color: #f79121;
    margin: 50px 0px;
}

.sign h3{
    font-size: 3em;
    text-shadow: 1px 1px 1px;
    color: #f79121;
    margin: 0;
}

.open-sign .state{
    color: #548037;
}
.closed-sign .state{
    color: #FA0908;
}

.state{
font-size: 10em;
margin: 50px;
}

.footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;

}

.footer h4{
    max-width: 40%;
    font-size: 2em;
}

.footer img{
    width : 700px;
    height: 370px;
}